.slick-slide {
  width: 50px !important;
  padding: 0 50px;
}

.slick-list {
  width: 100%;
}

.slick-track {
  width: 2000px !important;
}

.pill{
    color: white;
    background-color: #364488;
    padding: 20px;
    width: 100px;
    border:none;
    border-radius: 100px;
    text-align: center;
    margin: auto;
}

.pill-active {
  color: white;
  background-color: #d62964;
  padding: 20px;
  width: 100px;
  border:none;
  border-radius: 100px;
  text-align: center;
}

.DateInput {
  width: 100% !important;
}

.DateInput_fangShape,
.DateInput_fangStroke {
  display: none;
}

.DateInput_input__focused {
  border-bottom: 2px solid transparent !important;
}

.SingleDatePickerInput, .DateInput, .DateInput_input {
  background-color: transparent !important;
  color: #fff !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  padding: 0 !important;
  border-bottom: 0 !important;
  text-align: center !important;
  line-height: 0 !important;
  font-family: "Verdana !important";
}

.CalendarDay__default {
  color: #364488 !important;  
  border: 1px solid transparent !important;
}

.CalendarDay__blocked_out_of_range {
  color: #cacccd !important;
  border: 1px solid transparent !important; 
}

.SingleDatePicker_picker {
  font-family: Roboto;
} 

.DayPicker_weekHeader_li {
  color: #364488;
  font-size: 16px;
  font-weight: 700;
}

.CalendarMonth_caption {
  color: #364488 !important;
  font-size: 16px !important;
}

.CalendarDay__selected {
  background: #d62964 !important;
  border-radius: 20px;
  color: #fff !important;
}